name: Web Vercel deploy
on:
  workflow_call:
    inputs:
      environment:
        description: 'The environment to deploy to'
        default: 'Test'
        required: false
        type: string
      vercel_org_id:
        description: 'The vercel organisation ID'
        required: true
        type: string
      vercel_project_id:
        description: 'The ID of the vercel project'
        required: true
        type: string
    secrets:
      npm_pat:
        description: The PAT for NPM registry access
        required: true
      vercel_auth_token:
        description: The vercel auth token for vercel access
        required: true

jobs:
  deploy_vercel:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    name: 'Preview deploy'
    env:
      ENVIRONMENT_NAME: ${{ inputs.environment }}
    strategy:
      matrix:
        node-version: ['20.x']
    steps:
      - name: Lowercase enviromnent name
        run: |
          echo "ENVIRONMENT=${ENVIRONMENT_NAME,,}" >> "$GITHUB_ENV"
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://npm.pkg.github.com
          cache: yarn
      - name: Install dependencies
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_PAT}}
        run: yarn install --production=false --frozen-lockfile
      - name: Deploy preview
        env:
          VERCEL_ORG_ID: ${{ inputs.vercel_org_id }}
          VERCEL_PROJECT_ID: ${{ inputs.vercel_project_id }}
          VERCEL_AUTH_TOKEN: ${{ secrets.vercel_auth_token }}
        run: npx vercel --prod --token="$VERCEL_AUTH_TOKEN"
