name: Build
on:
  workflow_call:
    inputs:
      environment:
        description: 'The environment to deploy to'
        default: 'Test'
        required: false
        type: string
      cache_build:
        description: 'Cache the build files'
        default: false
        required: false
        type: boolean
      fast-runner:
        description: 'Use a faster runner'
        default: false
        required: false
        type: boolean
      node-version:
        description: 'Version of node to build on'
        default: '20.x'
        required: false
        type: string
      sub-site-id:
        description: 'Identifier of the sub-website'
        default: ''
        required: false
        type: string
    secrets:
      npm_pat:
        description: The PAT for NPM registry access
        required: true
      sentry_auth_token:
        description: The token to access Sentry
        required: true
    outputs:
      artifact:
        description: "Artifact name"
        value: ${{ jobs.build.outputs.artifact }}
      sub-artifact:
        description: "Sub site artifact name"
        value: ${{ jobs.build.outputs.sub-artifact }}

jobs:
  build:
    runs-on: ${{ inputs.fast-runner && 'namespace-profile-web-16-core' || 'ubuntu-latest' }}
    name: 'Build (node ${{ inputs.node-version }})'
    env:
      ENVIRONMENT_NAME: ${{ inputs.environment }}
    outputs:
      artifact: build-${{ inputs.node-version }}
      sub-artifact: build-sub-${{ inputs.node-version }}
    steps:
      - name: Lowercase enviromnent name
        run: |
          echo "ENVIRONMENT=${ENVIRONMENT_NAME,,}" >> "$GITHUB_ENV"
      - uses: namespacelabs/nscloud-setup@d1c625762f7c926a54bd39252efff0705fd11c64 # v0.0.10
        if: inputs.fast-runner

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Get version
        run: |
          describe=$(git describe --always --tags --abbrev=4)
          echo "GIT_DESCRIBE=$describe" >> "$GITHUB_ENV"
          version=$(echo "$describe" | sed -E 's/\-[a-z0-9]{5}//')
          echo "VERSION=$version" >> "$GITHUB_ENV"

      - name: Set up Namespace yarn cache
        uses: namespacelabs/nscloud-cache-action@446d8f390563cd54ca27e8de5bdb816f63c0b706 # v1.2.21
        if: inputs.fast-runner
        with:
          cache: yarn

      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ inputs.node-version }}
          registry-url: https://npm.pkg.github.com
          cache: yarn

      - name: Restore nextjs cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      - name: Restore build directory
        if: inputs.cache_build == true
        id: cache-build-restore
        uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          key: ${{ inputs.environment }}-${{ inputs.node-version }}-build
          path: out/

      - name: Install dependencies
        run: yarn install --production=false --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PAT }}

      - name: Install Phrase CLI
        if: hashFiles('.phraseapp.yml') != '' && !inputs.fast-runner
        run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install phrase

      - name: Build website
        env:
          GIT_COMMIT: ${{ github.sha }}
          SENTRY_AUTH_TOKEN: ${{ secrets.sentry_auth_token }}
        run: yarn build

      - name: Upload website
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: build-${{ inputs.node-version }}
          path: out/
          retention-days: 1
          include-hidden-files: true

      - name: Save build
        id: cache-build-save
        uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          key: ${{ inputs.environment }}-${{ inputs.node-version }}-build
          path: out/

      - name: Clean build
        if: inputs.sub-site-id != ''
        run: yarn clean

      - name: Build website
        if: inputs.sub-site-id != ''
        env:
          GIT_COMMIT: ${{ github.sha }}
          SENTRY_AUTH_TOKEN: ${{ secrets.sentry_auth_token }}
          SITE_ID: ${{ inputs.sub-site-id }}
        run: yarn build:sub-site

      - name: Upload website
        if: inputs.sub-site-id != ''
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: build-sub-${{ inputs.node-version }}
          path: out/
          retention-days: 1
          include-hidden-files: true
