name: Test
on:
  workflow_call:
    inputs:
        node-version:
          description: 'Version of node to build on'
          default: '20.x'
          required: false
          type: string
    secrets:
      npm_pat:
        description: The PAT for NPM registry access
        required: true

jobs:
    linter:
        runs-on: ubuntu-latest
        name: 'Lint (node ${{ inputs.node-version }})'
        permissions:
          contents: read
        steps:
          - name: Checkout
            uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
            with:
              persist-credentials: false
    
          - name: Setup node
            uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
            with:
              node-version: ${{ inputs.node-version }}
              registry-url: https://npm.pkg.github.com
              cache: yarn
    
          - name: Install dependencies
            env:
              NODE_AUTH_TOKEN: ${{ secrets.NPM_PAT }}
            run: yarn install --production=false --frozen-lockfile
    
          - name: Lint
            run: yarn lint
