name: Web Vercel deploy
on:
  workflow_call:
    inputs:
      environment:
        description: 'The environment to deploy to'
        default: 'Test'
        required: false
        type: string
      vercel_org_id:
        description: 'The vercel organisation ID'
        required: true
        type: string
      vercel_project_id:
        description: 'The ID of the vercel project'
        required: true
        type: string
      node-version:
        description: 'Version of node to build on'
        default: '22.x'
        required: false
        type: string
    secrets:
      npm_pat:
        description: The PAT for NPM registry access
        required: true
      vercel_auth_token:
        description: The vercel auth token for vercel access
        required: true

jobs:
  deploy_vercel:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    name: 'Preview deploy'
    env:
      ENVIRONMENT_NAME: ${{ inputs.environment }}
    steps:
      - name: Lowercase enviromnent name
        run: |
          echo "ENVIRONMENT=${ENVIRONMENT_NAME,,}" >> "$GITHUB_ENV"
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ inputs.node-version }}
          registry-url: https://npm.pkg.github.com
          cache: yarn
      - name: Install dependencies
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PAT }}
        run: yarn install --production=false --frozen-lockfile
      - name: Deploy preview
        env:
          VERCEL_ORG_ID: ${{ inputs.vercel_org_id }}
          VERCEL_PROJECT_ID: ${{ inputs.vercel_project_id }}
          VERCEL_AUTH_TOKEN: ${{ secrets.vercel_auth_token }}
        run: npx vercel --prod --token="$VERCEL_AUTH_TOKEN"
