name: Test
on:
  workflow_call:
    secrets:
      npm_pat:
        description: The PAT for NPM registry access
        required: true

jobs:
    test:
        runs-on: ubuntu-latest
        continue-on-error: ${{ matrix.experimental }}
        name: 'Test (node ${{ matrix.node-version }})'
        permissions:
          contents: read
        strategy:
          matrix:
            node-version: ['22.x']
            experimental: [false]
            include:
              - node-version: '24.x'
                experimental: true
        steps:
          - name: Checkout
            uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
            with:
              persist-credentials: false
    
          - name: Setup node
            uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
            with:
              node-version: ${{ matrix.node-version }}
              registry-url: https://npm.pkg.github.com
              cache: yarn
    
          - name: Install dependencies
            run: yarn install --production=false --frozen-lockfile
            env:
              NODE_AUTH_TOKEN: ${{ secrets.NPM_PAT }}
    
          - name: Run unit tests
            run: yarn test
