name: Content change - Update search index
on:
  workflow_call:
    inputs:
      node-version:
        description: 'Version of node to build on'
        default: '22.x'
        required: false
        type: string
      environment:
        description: 'The Contentful environment'
        required: true
        type: string
      contentful_space_id:
        description: 'The Contentful space ID'
        required: true
        type: string
      algolia_app_id:
        description: 'The Algolia app ID'
        required: true
        type: string
      contentful_payload:
        description: 'The Contentful webhook payload'
        required: true
        type: string
    secrets:
      algolia_write_key:
        description: The Algolia write key to add search indexes
        required: true
      npm_pat:
        description: The PAT for NPM registry access
        required: true
      contentful_access_token:
        description: The contentful API token for content access
        required: true

jobs:
  index_search:
    runs-on: ubuntu-latest
    name: 'Index Search Algolia (node ${{ inputs.node-version }})'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ inputs.node-version }}
          registry-url: https://npm.pkg.github.com
          cache: yarn
      - name: Install dependencies
        run: yarn install --production=false --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PAT }}

      - name: Get Contentful environment name
        env:
          CONTENTFUL_ENVIRONMENT_NAME: ${{ inputs.environment }}
        run: echo "CONTENTFUL_ENVIRONMENT=${CONTENTFUL_ENVIRONMENT_NAME,,}" >> "$GITHUB_ENV"

      - name: Get correct Algolia index
        id: get_algolia_index
        env:
          ALGOLIA_ENVIRONMENT_NAME: ${{ inputs.environment == 'production' && 'master' || inputs.environment }}
        run: echo "algolia_index=contentful_${ALGOLIA_ENVIRONMENT_NAME,,}" >> "$GITHUB_OUTPUT"

      - name: Feed into search index
        env:
          CONTENTFUL_SPACE: ${{ inputs.contentful_space_id }}
          CONTENTFUL_ACCESS_TOKEN: ${{ secrets.contentful_access_token }}
          ALGOLIA_APP_ID: ${{ inputs.algolia_app_id }}
          ALGOLIA_WRITE_KEY: ${{ secrets.algolia_write_key }}
          ALGOLIA_INDEX: ${{ steps.get_algolia_index.outputs.algolia_index }}
        run: |
          yarn index-search '${{ toJSON(inputs.contentful_payload) }}'
