name: Axe accessibility check
on:
  workflow_call:
    inputs:
      node-version:
        description: 'Version of node to build on'
        default: '22.x'
        required: false
        type: string
    secrets:
      npm_pat:
        description: The PAT for NPM registry access
        required: true

jobs:
  axe:
    runs-on: ubuntu-latest
    name: "Axe accessibility check"
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ inputs.node-version }}
          registry-url: https://npm.pkg.github.com
          cache: yarn
      - name: Install dependencies
        run: yarn install --production=false --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PAT }}

      - name: Get Chromium version
        run: |
          # Broken with 124: https://github.com/giggio/node-chromedriver/issues/467
          # CHROMIUM_VERSION=$(wget -qO- https://googlechromelabs.github.io/chrome-for-testing/LATEST_RELEASE_STABLE | cut -d. -f1)
          CHROMIUM_VERSION=123
          echo "Chromium version: $CHROMIUM_VERSION"
          echo "CHROMIUM_VERSION=$CHROMIUM_VERSION" >> "$GITHUB_ENV"

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@b94431e051d1c52dcbe9a7092a4f10f827795416 # v2.1.0
        with:
          chrome-version: ${{ env.CHROMIUM_VERSION }}

      - name: Install chromedriver
        run: yarn add chromedriver@"$CHROMIUM_VERSION"

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          merge-multiple: true
          name: build-${{ inputs.node-version }}
          path: out

      - name: Install axe
        run: yarn global add @axe-core/cli

      - name: Run axe accessibility test
        run: axe --stdout --chromedriver-path "$(yarn bin)/chromedriver/bin/chromedriver" "file://$(pwd)/out/index.html" --exit
