name: Web migrate Contentful
on:
  workflow_call:
    inputs:
      environment:
        description: 'The environment to deploy to'
        default: 'test'
        required: false
        type: string
      contentful_environment:
        description: 'The contentful environment to migrate to'
        default: ''
        required: false
        type: string
      contentful_space_id:
        description: 'The contentful space ID'
        required: true
        type: string
      migrations_dir:
        description: 'Path to the directory containing migrations'
        default: './src/contentful/migrations'
        required: false
        type: string
      node-version:
        description: 'Version of node to build on'
        default: '22.x'
        required: false
        type: string
    secrets:
      amazon_role:
        description: The AWS role to assume to store state in S3
        required: true
      npm_pat:
        description: The PAT for NPM registry access
        required: true
      contentful_management_api_token:
        description: The contentful management API token for migration access
        required: true

jobs:
  migrate_contentful:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    name: 'Contentful migration'
    env:
      ENVIRONMENT_NAME: ${{ inputs.environment }}
    steps:
      - name: Lowercase enviromnent name
        run: |
          echo "ENVIRONMENT=${ENVIRONMENT_NAME,,}" >> "$GITHUB_ENV"
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ inputs.node-version }}
          registry-url: https://npm.pkg.github.com
          cache: yarn
      - name: Install dependencies
        run: yarn install --production=false --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PAT }}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.amazon_role }}

      - name: Get Contentful environment name
        env:
          CONTENTFUL_ENVIRONMENT_NAME: ${{ inputs.contentful_environment != '' && inputs.contentful_environment || inputs.environment }}
        run: echo "CONTENTFUL_ENVIRONMENT=${CONTENTFUL_ENVIRONMENT_NAME,,}" >> "$GITHUB_ENV"

      - name: Run migration step
        env:
          CONTENTFUL_SPACE: ${{ inputs.contentful_space_id }}
          CONTENTFUL_MANAGEMENT_API_TOKEN: ${{ secrets.contentful_management_api_token }}
          MIGRATIONS_DIR: ${{ inputs.migrations_dir }}
          MIGRATIONS_STATE_FILE_STORAGE: s3
          MIGRATIONS_STATE_FILE_BUCKET: '${{ github.repository_owner }}-contentful-migrations'
          MIGRATIONS_STATE_FILE: migrated.json
        run: |
          yarn migrate
