name: Check links
on:
  workflow_call:
    inputs:
        artifact-name:
          description: 'Name of the build artifact'
          default: 'build-22.x'
          required: false
          type: string

jobs:
    link-checker:
        permissions: {}
        runs-on: ubuntu-latest
        steps:
          - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
            with:
              merge-multiple: true
              name: ${{ inputs.artifact-name }}
              path: out
    
          - name: Link Checker
            id: lychee
            uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
            with:
              fail: true
              failIfEmpty: true
              args: --base out/ --verbose --no-progress --exclude 'videos\.ctfassets\.net' --exclude 'images\.ctfassets\.net' './**/*.html' 
